@use 'base/variables' as var;
@use 'base/mixins' as mix;

.header{
    // font-family: 'Charter';
    min-height: 55rem;
    background-image: url(../img/header.avif);
    background-repeat: no-repeat;
    background-size: cover;
    &__container{
        @include mix.container;
    }
    &__nav{
        padding: 5rem 0;
        display: flex;
        justify-content: center;
        gap: 2.5rem;
        @include mix.tablet{
            justify-content: flex-end;
        }
    }
    &__user-image{
        margin: 0;
        padding: 0;
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 50%;
        display: block;
    }
    &__link{
        @include mix.link;
    }
    &__form{
        display: flex;
    }
    &__submit{
        @extend .header__link;
    }
    &__content{
        padding-top: 10rem;
        @include mix.tablet{
            padding-top: 5rem;
        }
    }
    &__logo{
        @include mix.logo;
        @include mix.fluid-text(3rem,6rem);
        @include mix.degraded-text(var.$c_golden,var.$c_white);
        text-align: center;
        text-transform: uppercase;
        @include mix.tablet{
            text-align: left;
            display: inline-block;
        }
    }
    &__text{
        font-size: 2rem;
        font-style: italic;
        font-weight: var.$bold;
        color: var.$c_golden;
        margin: 1rem 0;
        text-transform: uppercase;
        text-align: center;
        @include mix.tablet{
            text-align: left;
        }
        &--slogan{
            font-size: 1.5rem;
        }
    }
    &__button{
        @include mix.button(var.$c_blue,var.$c_golden);
        text-transform: uppercase;
        margin: 2rem 0;
        @include mix.tablet{
            width: auto;
        }
    }
}