@use 'base/variables' as var;
@use 'base/mixins' as mix;

.nav{
    display: flex;
    flex-direction: column;
    @include mix.desktop{
        flex-direction: row;
    }
    &__link{
        color: var.$c_golden;
        font-size: 1.8rem;
        padding: 2rem;
        font-weight: var.$black;
        text-transform: uppercase;
        text-align: center;
        &:hover{
            background-color: var.$c_golden;
            color: var.$c_blue;
        }
    }
}