@use 'variables' as var;
@use 'mixins' as mix;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-image: url('../img/golden_background.svg');
    background-size: 5rem 5rem;
    background-repeat: repeat;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var.$principal-font;
    font-size: 1.8rem;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}

@font-face {
    font-family: 'Charter';
    src: url('fonts/charter_regular.woff') format('woff'),
         url('fonts/charter_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}