@use 'variables' as var;

/** Media Queries **/
@mixin telephone {
    @media (min-width: var.$telephone) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: var.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: var.$desktop) {
        @content;
    }
}
@mixin xl_desktop {
    @media (min-width: var.$xl_desktop) {
        @content;
    }
}

@mixin button($bgColor, $textColor) {
    background-color: $bgColor;
    padding: 1.5rem 4rem;
    color: $textColor;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    width: 100%;
    display: inline-block;

    &:hover {
        background-color: darken( $bgColor, 10% );
        cursor: pointer;
    }
}

@mixin grid($columns, $space) {
    display: grid;
    gap: $space;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin container{
    width: min(95%,140rem);
    @include tablet(){
        width: min(100%,140rem);
    }
    margin: 0 auto;
}

@mixin container-sm{
    width: min(95%,60rem);
    margin: 0 auto;
}

@mixin container-md{
    width: min(95%,80rem);
    margin: 0 auto;
}

@mixin headings{
    font-family: var.$principal-font;
    font-weight: var.$black;
    margin: 2rem 0;
}

@mixin page-name{
    @include headings;
    margin: 6rem 0 3rem 0;
    text-align: center;
}

@mixin page-description{
    text-align: center;
    font-size: 1.8rem;
    font-weight: var.$light;
    color: var.$c_dark-gray;
    margin-bottom: 5rem;
}

@mixin fluid-text($min,$max){
    font-size: clamp($min,7.5vw,$max);
}

@mixin degraded-text($start,$end){
    background: linear-gradient(to right,$start,$end);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin logo{
    font-family: 'Charter';
    color: var.$c_golden;
    text-align: center;
    margin: 0;
    @include desktop{
        text-align: left;
    }
}

@mixin link{
    all: unset;
    color: var.$c_golden;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: var.$bold;
    padding: 1rem;
    background-color: transparent;
    border: none;
    &:hover{
        background-color: var.$c_golden;
        color: var.$c_blue;
        cursor: pointer;
    }
}

@mixin socialNet($color,$size){
    &__link{
        &::before{
            color: $color;
            font-size: $size;
            display: inline-block;
            font-style: normal;
            text-rendering: auto;
            -webkit-font-smoothing:antialiased;
            font-family: 'Font Awesome 6 Brands';
        }
        &[href*="https://facebook.com"]::before {
            content: "\f39e";
        }
        &[href*="https://tiktok.com"]::before {
            content: "\e07b";
        }
        &[href*="https://instagram.com"]::before {
            content: "\f16d";
        }
        &[href*="https://youtube.com"]::before {
            content: "\f167";
        }
        &[href*="https://twitter.com"]::before {
            content: "\f099";
        }
        &[href*="https://x.com"]::before {
            content: "\f099";
        }
        &[href*="https://linkedin.com"]::before {
            content: "\f08c";
        }
    }
    &__hide{
        display: none;
    }
}

@mixin shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@mixin reset-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin tags{
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1.5rem;
    >li{
        background-color: var.$c_blue;
        padding: 1rem;
        border-radius: 0.5rem;
        font-size: 1.2rem;
        color: var.$c_golden;
        font-weight: var.$bold;
    }
}

@mixin card{
    border: 2px solid lighten(var.$c_gray, 10);
    padding: 3rem;
    &__name{
        font-weight: var.$black;
        font-size: 2.6rem;
        margin: 2rem 0;
    }
}