@use 'variables' as var;
@use 'mixins' as mix;

h1, h2, h3 {
    @include mix.headings;
    font-family: 'Charter';
}

p,a{
    font-family: 'Charter';
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
}
.text-center {
    text-align: center;
}

[class$="__heading"]{
    @include mix.page-name;
}