@use 'base/mixins' as mix;
@use 'base/variables' as var;

.about{
    &__grid{
        @include mix.container;
        @include mix.grid(1,3rem);
        @include mix.tablet{
            @include mix.grid(2,2rem);
            align-items: center;
        }
    }
    &__image{
        width: 100%;
        margin: auto;
        @include mix.tablet{
            width: 33rem;
        }
        @include mix.desktop{
            width: 45rem;
        }
    }
    &__title{
        font-size: 1.5rem;
        font-weight: var.$bold;
        @include mix.desktop{
            font-size: 1.8rem;
        }
    }
    &__text{
        font-size: 1.2rem;
        line-height: 1.1;
        @include mix.desktop{
            font-size: 1.5rem;
        }
    }
    &__list{
        font-size: 1.2rem;
        @include mix.desktop{
            font-size: 1.5rem;
        }
    }
}