@use 'base/mixins' as mix;
@use 'base/variables' as var;

.user-options{
    margin-top: 3rem;
    &__grid{
        @include mix.container;
        @include mix.grid(1,3rem);
        @include mix.tablet{
            @include mix.grid(3,5rem);
            align-items: center;
        }
    }
    &__link{
        color: var.$c_blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.2rem 0;
        transition: 300ms background-color ease, 300ms color ease;
        border: 1px solid var.$c_blue;
        &:hover,
        &--current{
            background-color: darken(var.$c_blue,20%);
            color: var.$c_golden;
        }
    }
    &__icon{
        font-size: 9rem;
    }
    &__menu-text{
        font-size: 2rem;
        // text-transform: uppercase;
        font-weight: var.$bold;
        margin-top: 2rem;
        align-items: center;
        text-align: center;
    }
    &__button-container{
        margin: 1rem 0;
        @include mix.tablet{
            display: flex;
            justify-content: flex-end;
        }
    }
    &__button{
        @include mix.button(var.$c_blue,var.$c_golden);
        text-transform: uppercase;
        font-size: 1.4rem;
        @include mix.tablet{
            width: auto;
        }
    }
    &__text{
        margin-top: 3rem;
    }
    &__image{
        max-width: 20rem;
        margin: 2rem 0;
    }
}