@use 'base/variables' as var;

.actions{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    &--center{
        @extend .actions;
        justify-content: center;
    }
    &__link{
        color: var.$c_black;
        font-size: 1.4rem;
        font-weight: var.$light;
    }
}