@use 'base/variables' as var;
@use 'base/mixins' as mix;

.form{
    display: flex;
    flex-direction: column;
    &__fieldset{
        border: none;
        margin-top: 1rem;
        padding: 0;
    }
    &__legend{
        color: var.$c_gray;
        font-size: 2.2rem;
        margin-bottom: 1.5rem;
    }
    &__field{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1.5rem 0;
    }
    &__icon-container{
        display: flex;
        border-radius: 0.5rem;
        overflow: hidden;
    }
    &__icon{
        background-color: var.$c_dark-gray;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
            color: var.$c_white;
            font-size: 2rem;
        }
    }
    &__label{
        display: block;
        font-size: 1.8rem;
        color: rgba(var.$c_black,0.8);
    }
    &__input,
    &__select{
        width: 100%;
        padding: 1rem;
        border: 1px solid darken(var.$c_dark-gray,20);
        border-radius: 0.5rem;
        &--file{
            border: none;
            padding: 0;
        }
        &--socials{
            @extend .form__input;
            flex: 1;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    &__text{
        margin-top: 3rem;
    }
    &__image{
        // max-width: 20rem;
        // margin: 2rem 0;
        @include mix.grid(3, 1rem);
    }
    &__list{
        @include mix.tags;
        &--hidden{
            display: none;
        }
        &--visible{
            display: block;
        }
    }
    &__submit{
        @include mix.button(var.$c_blue,var.$c_golden);
        &--register{
            width: 100%;
        }
    }
}