@use 'base/variables' as var;
@use 'base/mixins' as mix;

.footer{
    background-color: var.$c_blue;
    margin-top: 5rem;
    padding-top: 3rem;
    color: var.$c_golden;
    &__grid{
        @include mix.container;
        @include mix.tablet{
            @include mix.grid(2,3rem);
        }
    }
    &__logo{
        @include mix.logo;
        @include mix.fluid-text(1rem,3rem);
    }
    &__text{
        line-height: 1.5;
        font-size: 1.2rem;
        text-align: center;
        @include mix.tablet{
            text-align: left;
        }
    }
    &__copyright{
        background-color:darken(var.$c_blue,10);
        margin: 3rem 0 0 0;
        padding: 2rem 0;
        text-align: center;
        font-size: 1.4rem;
        font-weight: var.$black;
        &--regular{
            font-weight: var.$regular;
        }
    }
}